<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{{appName}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <!-- Sidebar CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebars/sidebars.css') }}">
    <!-- This site CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
</head>
<body>

  <main>

    {% block content %} {% endblock %}

  </main>



  <script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='sidebars/sidebars.js') }}"></script>
</body>
</html>