
        <div class="px-4 py-3 my-2 text-center">
            <h1 class="display-6 fw-bold text-primary">查詢股票資訊</h1>            
        </div>

        <form method="post" action="{{ url_for('ans') }}">
            <div class="col-md-6 mx-auto text-center">
                <label for="stockId" class="form-label fw-bold fs-5">請告訴我，想查的股票代碼？</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="stockId" name="stockId" style="max-width: 256px;" autofocus />
                    <input type="hidden" id="index" name="index" value="-1" />
                </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">按一下</button>
                </div>
            </div>
        </form>
